* {
    padding: 0;
    margin: 0;
}

main {
    width: 300px;
    height: 300px;
    background: white;
    display: grid;
    /* grid-template-columns: 1fr 1fr 1fr; */
    grid-template-rows: 1fr 1fr 1fr;
    margin: 5vh;
    border: 2px black solid;
}

.dots {
    width: 300px;
    height: 100px;
    box-sizing: border-box;
    /* border: 1px black solid; */
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#dots1 {
    justify-content: flex-start;
    margin-left: 20px;
}

#dots3 {
    justify-content: flex-end;
    margin-left: -20px;
}

.dot {
    width: 60px;
    height: 60px;
    border-radius: 100%;
    background: black;
    margin: 1fr;
}